@font-face {
  font-family: "MyFont";
  src: url(Noto_Sans_JP/NotoSansJP-VariableFont_wght.ttf);
}
h1{
  color: rebeccapurple;
  font-family: Myfont;
}
@font-face {
  font-family: Font2;
  src: url(fonts/EduAUVICWANTDots-VariableFont_wght.ttf);
}

p{
  color: red;
  font-family: Font2;
}
